### Ranking news Crawl
* 날짜와 일수를 입력해서 `pd.DatFrame` 형태로 받아오기

1. 상위 경로에 존재하는 `utils.py` 에 접근하기 위해 경로 추가

In [2]:
import sys
sys.path.append('..')

2. 뉴스 크롤을 위한 import

In [3]:
from utils import get_news, get_news_df

3. 주소 list 생성하기

In [4]:
import datetime as dt
import requests

from bs4 import BeautifulSoup as bs

In [5]:
def get_rankings(date:str, day: int):
    today = dt.datetime.strptime(date, '%Y%m%d')
    if dt.datetime.strptime(date, '%Y%m%d') > dt.datetime.now():
        date = dt.datetime.now().isoformat().replace('-','')[:8]

    ranking_urls = list()
    for _ in range(day):
        req1 = requests.get(f"https://news.nate.com/rank/interest?sc=all&p=day&date={date}&page=1")
        req2 = requests.get(f"https://news.nate.com/rank/interest?sc=all&p=day&date={date}&page=2")
        
        soup1 = bs(req1.text, 'html.parser')
        soup2 = bs(req2.text, 'html.parser')
        
        main1 = soup1.find('div', {'class': 'postRankNews'})
        main2 = soup2.find('div', {'class': 'postRankNews'})
        
        links1 = main1.find_all('a')
        links2 = main2.find_all('a')
        
        links1 = ['https:' + link['href'].split('?')[0] for link in links1 if 'nate.com/view' in link['href']]
        links2 = ['https:' + link['href'].split('?')[0] for link in links2 if 'nate.com/view' in link['href']]
        ranking_urls += links1 + links2
        
        date = dt.datetime.strptime(date, "%Y%m%d") - dt.timedelta(days=1)
        date = date.strftime('%Y%m%d')
    return ranking_urls

In [6]:
tmp = get_rankings('20230212', 100)
len(tmp)
# print(dt.date.today())

10000

In [7]:
tmp[0], len(tmp)

('https://news.nate.com/view/20230212n11163', 10000)

In [8]:
news_list = get_news(tmp)

Error occurs in https://news.nate.com/view/20230130n01721
Error occurs in https://news.nate.com/view/20230128n01649
Error occurs in https://news.nate.com/view/20230108n15372
Error occurs in https://news.nate.com/view/20230108n15372
Error occurs in https://news.nate.com/view/20221226n08525
Error occurs in https://news.nate.com/view/20221202n22904
Error occurs in https://news.nate.com/view/20221202n22904
Error occurs in https://news.nate.com/view/20221119n08321
Error occurs in https://news.nate.com/view/20221119n08321
Error occurs in https://news.nate.com/view/20221117n01553
Error occurs in https://news.nate.com/view/20221116n37734

In [13]:
len(news_list )

9688

In [14]:
news_df = get_news_df(news_list)

Error occurs
https://news.nate.com/view/20230207n01777
Error occurs
https://news.nate.com/view/20230122n08726
Error occurs
https://news.nate.com/view/20221214n36726
Error occurs
https://news.nate.com/view/20221118n06626

In [17]:
print(len(news_df))
news_df.to_excel('20230212to100.xlsx', index=False)

9684

In [16]:
news_df.head()

,title,category,press,date,content,url
0,'스키동아리' 고대생 5명 참변…그랜저 문 찌그러져 탈출 못한 듯(종합2보),사회,뉴스1,2023-02-12 16:31,[IMAGE]\n[12일 오전 1시 23분쯤 평창군 대관령면 용산리의 한 회전교차로...,https://news.nate.com/view/20230212n11163
1,"아파트 수영 강습 중 6살 아이 중태…강사는 ""기억 안 나""",사회,SBS,2023-02-12 20:43,부산에서는 아파트 수영장에서 물에 빠졌던 어린이가 의식을 되찾지 못하고 있습니다. ...,https://news.nate.com/view/20230212n15060
2,"매몰된 생후 20일 아기, 굳은 코피에 코 막혀도 버텨줬구나",세계,한겨레,2023-02-12 15:20,이정우의 한 컷 \n\n튀르키예 건물 잔해에서 기적의 생존\n\n[IMAGE]\n\...,https://news.nate.com/view/20230212n09737
3,[가족] 허가 번식장이라더니…뜬장과 오물 속 출산을 반복해 온 엄마개들,사회,한국일보,2023-02-12 16:08,"6세 추정 푸들 진주, 1세 추정 믹스견 비비안\n\n[IMAGE]\n\n동물권행동...",https://news.nate.com/view/20230212n10770
4,"첫발 떼자마자··· ""유보통합 철회"" 유치원 교사들 집단반발",사회,경향신문,2023-02-12 15:40,[IMAGE]\n[12일 오후 서울 용산구 대통령실 인근 삼각지에서 전국교직원노동조...,https://news.nate.com/view/20230212n10227

In [22]:
news_df.duplicated().sum()

1058

In [25]:
news_df.duplicated(['url']).sum()

1058

In [26]:
no_dupl_df = news_df.drop_duplicates(['url'])

In [27]:
no_dupl_df.shape

(8626, 6)

In [ ]:
no_dupl_df.to_excel('20230212_100.xlsx', index=False)

In [6]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [7]:
import sys
sys.path.append('..')
from utils import get_news, get_news_df

In [13]:
df = get_news('https://news.nate.com/view/20230213n00133')
df

In [14]:
get_news_df(df)

,title,category,press,date,content,url
0,"""근처 지나다 현장 봤는데""…동문 참변에 고대생들도 '충격·애도'",사회,뉴스1,2023-02-13 00:10,[IMAGE]\n[12일 오전 1시 23분쯤 평창군 대관령면 용산리의 한 회전교차로...,https://news.nate.com/view/20230213n00133

In [15]:
from news_crawl import NateNews

In [16]:
new_class = NateNews('https://news.nate.com/view/20230209n12576')

In [17]:
new_class.press

'중앙일보'